@media (min-width: 570px)
  .newsletter__form
    white-space: nowrap
    display: flex
    justify-content: space-between
    width: 93% !important
    margin: auto
  .newsletter__container
    padding: 8px
    background: white
    border-radius: 3px
    white-space: nowrap
    display: flex
    width: 52.5%
    margin-bottom: 0!important
    align-items: baseline
    @media (min-width: 1200px)
        width: 76.5%
  .newsletter__text
    display: inline-block
    color: $main-color
    font-family: "Poppins - Semi Bold",sans-serif
    font-size: 22px
    font-weight: 700
    line-height: 28px
    text-transform: uppercase

  .fa-envelope
    color: $main-color
    background: white
    margin: 6px 0
    padding: 0 16px 0 3px
    position: relative
    left: 3px
    top: 2px
    border-right: 1px solid #b4b4b4

  .newsletter__input
    background-color: transparent
    border: 0 solid
    padding-right: 117px

  .newsletter__button
    background: white
    border-radius: 3px
    padding: 10px 15px
    border: none

  .fa-arrow-right
    color: $main-color
    position: relative
    top: 3px