@mixin stocks-name
    color: #000000
    font-family: "Poppins - Semi Bold", sans-serif
    font-weight: 700
    text-transform: uppercase

.stocks
    margin: 0 auto

.stocks__text-sofa
    display: none
.stocks__price-sofa
    display: none

.stocks__block1
    background: #e0e3ed
    width: 100%
    height: 133px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 34px

.stocks__img1
    background: url("../img/06_stocks/chair1-480.png")
    width: 103px
    height: 130px

.stocks__img2
    background: url("../img/06_stocks/chair2-480.png")
    width: 103px
    height: 130px

.stocks__name1
    @include stocks-name
    font-size: 24px
    display: block
    white-space: nowrap

.stocks__small-text1
    @include stocks-name
    font-size: 14px
    letter-spacing: 2.8px
    display: block

.stock__price-item
    color: $main-color
    font-family: "Poppins - Semi Bold",sans-serif
    font-size: 30px
    font-weight: 700
    text-transform: uppercase

.stocks__block2
    background: #ead1e5
    width: 100%
    height: 133px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 34px

.stocks__img3
    background: url("../img/06_stocks/bed-480.png")
    width: 201px
    height: 133px

.stocks__item2
    margin-right: 32px
.stocks__name2
    color: $main-color
    font-size: 18px
    font-weight: 600
    text-transform: uppercase
    font-family: "Poppins - Semi Bold",sans-serif
    letter-spacing: -0.5px
.stocks__small-text2
    color: $main-color
    font-family: "Poppins Light",sans-serif
    font-weight: 300
    text-transform: uppercase
    font-size: 18px
    letter-spacing: -2px


.stocks__description
    color: #000000
    font-family: Poppins,sans-serif
    font-size: 14px
    font-weight: 300
    text-transform: uppercase
