@media (min-width: 1200px)
  @mixin stocks-name
    color: #000000
    font-family: "Poppins - Semi Bold", sans-serif
    font-weight: 700
    text-transform: uppercase

  .stocks
    margin: 0 auto
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 30px

  .stocks__sofa
    background: url("../img/06_stocks/sofa-768.png") no-repeat
    width: 100%
    height: 420px
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 28px
    background-size: cover

  .stocks__container
    width: 489px
    height: 355px
    background: rgba(42,42,42,0.4)
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: baseline

  .stocks__text-sofa
    display: inline-block
    margin-left: 20px
    color: #ffffff
    font-family: Poppins,sans-serif
    font-size: 36px
    font-weight: 700
    text-transform: uppercase

  .stocks__bigger-text
    display: inline-block
    color: #ffffff
    font-family: Poppins,sans-serif
    font-size: 60px
    font-weight: 700
    text-transform: uppercase
    position: relative
    bottom: 20px

  .stocks__price-sofa
    display: inline-block
    margin-left: 20px
    padding: 5px 10px
    font-family: "Poppins - Semi Bold",sans-serif
    font-size: 50px
    font-weight: 700
    text-transform: uppercase
    color: white
    position: relative
    bottom: 20px
    border: 5px solid white
    letter-spacing: 2px

  .stocks__block1
    background: #e0e3ed
    width: 100%
    height: 195px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 31px

  .stocks__img1
    background: url("../img/06_stocks/chair1-768.png")
    width: 151px
    height: 195px

  .stocks__img2
    background: url("../img/06_stocks/chair2-768.png")
    width: 151px
    height: 195px

  .stocks__name1
    @include stocks-name
    font-size: 30px
    display: block
    white-space: nowrap

  .stocks__small-text1
    @include stocks-name
    font-size: 18px
    letter-spacing: 2.8px
    display: block

  .stock__price-item
    color: $main-color
    font-family: "Poppins - Semi Bold",sans-serif
    font-size: 36px
    font-weight: 700
    text-transform: uppercase

  .stocks__block2
    background: #f7def2
    width: 100%
    height: 195px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 34px

  .stocks__img3
    background: url("../img/06_stocks/bed-768.png")
    width: 253px
    height: 193px

  .stocks__item2
    margin-right: 32px
    text-align: center
  .stocks__name2
    color: $main-color
    font-size: 24px
    font-weight: 600
    text-transform: uppercase
    font-family: "Poppins - Semi Bold",sans-serif
    letter-spacing: -0.5px
  .stocks__small-text2
    color: $main-color
    font-family: "Poppins Light",sans-serif
    font-weight: 300
    text-transform: uppercase
    font-size: 24px
    letter-spacing: -2px


  .stocks__description
    color: #000000
    font-family: Poppins,sans-serif
    font-size: 18px
    font-weight: 300
    text-transform: uppercase