.top-slider
    position: relative
    padding: 0 16px

.top-slider-info
    position: absolute
    width: 100%
    padding: 35px 51px 0px 20px
    font-family: 'Poppins', sans-serif
    z-index: 2

    &-title
        margin: 0px
        padding: 25px 0px 20px 0px
        line-height: 1
        font-size: 26px
        font-weight: 700
        color: #fff
        text-align: center
        text-transform: uppercase
        background-color: rgba(0,0,0,.5)

    &-text
        margin: 0px
        padding-bottom: 35px
        line-height: 1
        font-size: 13px
        color: #fff
        text-align: center
        text-transform: uppercase
        background-color: rgba(0,0,0,.5)

    &-btn-wrapper
        padding-bottom: 25px
        background-color: rgba(0,0,0,.5)


    &-btn
        display: block
        margin: 0 auto
        padding: 15px 25px
        border: none
        border-radius: 3px
        line-height: 1
        font-size: 10px
        font-weight: 700
        color: #464646
        text-transform: uppercase
        background-color: #fff


.top-slider-contrl-brn
    top: inherit
    width: 50%
    opacity: 1
    background-color: $text-color

    &:hover
        opacity: 1
        background-color: $main-color

.carousel-img
    max-width: 570px
    height: 285px
    background-size: cover
    background-repeat: no-repeat

.carousel-img1
    background-image: url('../img/04_top-slider/top-slider_01.jpg')

.carousel-img2
    background-image: url('../img/04_top-slider/top-slider_02.jpg')