@media (min-width: 768px)

    .top-slider-info
        padding: 100px 32px 0px 0px

        &-title
            padding: 75px 0px 15px 0px
            font-size: 40px
            font-weight: 400

            & span
                font-weight: 700

        &-text
            padding-bottom: 65px
            font-size: 18px

        &-btn-wrapper
            padding-bottom: 0px
            background-color: transparent

        &-btn
            position: relative
            top: -27px
            padding: 20px 30px
            font-size: 14px

    .top-slider-contrl-brn
        padding: 8px

    .carousel-control-icon-custom
        font-size: 20px

    .carousel-img
        max-width: 1200px
        height: 480px
        background-size: auto
        background-repeat: no-repeat
        background-position: center
        background-position-y: -150px