<section class="header-container bg-dark">
    <header class="container d-flex justify-content-between align-items-center header--custom">
        <p class="header-phone">
            <span class="component--underline">2300 - 3560 - 222</span>
        </p>
        <div class="header-logo">
            <img class="header-logo__img" src="img/02_header/header_logo.png" alt="Header logo">
        </div>
        <div class="header-cart" data-toggle="modal" data-target="#cart-modal">
            <div class="header-cart--bg">
                <i class="fas fa-shopping-basket"></i>
            </div>
            <p class="header-cart__amount bg-dark"></p>
        </div>
    </header>
</section>