<section class="top-slider container" data-name="top-slider">
    <div class="top-slider-info">
        <h2 class="top-slider-info-title">
            Indoor <span>furniture</span> 
        </h2>
        <p class="top-slider-info-text">
            Save up to 50% of all furniture
        </p>
        <div class="top-slider-info-btn-wrapper">
            <button class="top-slider-info-btn">
                Shop now
            </button>
        </div>
    </div>

    <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-custom" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-img carousel-img1"></div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img carousel-img2"></div>
            </div>
        </div>
        <a class="carousel-control-prev top-slider-contrl-brn" href="#carouselExampleFade" role="button"
            data-slide="prev">
            <span class="carousel-control-icon">
                <i class="fas fa-angle-left carousel-control-icon-custom"></i>
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next top-slider-contrl-brn" href="#carouselExampleFade" role="button"
            data-slide="next">
            <span class="carousel-control-icon">
                <i class="fas fa-angle-right carousel-control-icon-custom"></i>
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>