<section class="stocks container" data-name="stocks">
    <div class="stocks__sofa">
        <div class="stocks__container">
            <div class="stocks__text-sofa"><span>guest room</span><div><span class="stocks__bigger-text">sofa</span></div></div>
            <div class="stocks__price-sofa"><span>-20%</span></div>
        </div>
    </div>
    <div class="stocks__blocks">
        <div class="stocks__block1">
            <div class="stocks__img1 img-fluid"></div>
            <div class="stocks__item1">
                <div><span class="stocks__name1">office chair</span><span class="stocks__small-text1">collection</span>
                </div>
                <div><span class="stock__price-item">$200.00</span></div>
            </div>
            <div class="stocks__img2 img-fluid"></div>
        </div>
        <div class="stocks__block2">
            <div class="stocks__img3 img-fluid"></div>
            <div class="stocks__item2">
                <div><span class="stocks__name2">special </span><span class="stocks__small-text2">collection</span>
                </div>
                <div><span class="stocks__description">save up 45% of furniture</span></div>
            </div>
        </div>
    </div>
</section>