<section class="products" data-name="products">
    <div class="container">
        <div class="row">
            <div class="furniture  col-lg-9">
                <div class="furniture__heading d-flex justify-content-between">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-3">
                        <div class="furniture__heading-text"><span>furniture</span></div>
                        <button type="button"   data-toggle="modal" data-target="#exampleModal" class="filter__icon px-2 py-2 d-lg-none"><i
                                class="fas fa-th-list mr-2"></i><span>Filters By</span></button>
                    </div>
                    <div class="filter-by"></div>
                </div>
                <div class="furniture__wrapper d-flex justify-content-center justify-content-md-between flex-wrap ">
                    <div class="furniture__item1 my-4">
                        <div class="furniture__image-wrapper d-flex justify-content-center align-items-center position-relative">
                            <img
                                    src="./img/07_products/f1.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100 container">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2"
                                            id="item-050"
                                            data-src="./img/07_products/f1.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name="Vivo chair"
                                            data-stars="4"
                                            data-price="$30.00"><span>Quick View</span>
                                    </button>

                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>

                        </div>

                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Vivo chair</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="furniture__price font-weight-bold text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                    <span>$30.00</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item2 my-4">
                        <div class="furniture__image-wrapper d-flex justify-content-center align-items-center position-relative">
                            <img
                                    src="./img/07_products/f2.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2 "
                                            id="item-051"
                                            data-src="./img/07_products/f2.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name=" Chair 2"
                                            data-stars="2"
                                            data-price="$15.00"><span>Quick View</span>
                                    </button>

                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Chair 2</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="furniture__price font-weight-bold text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                    <span>$15.00</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item3 d-none d-lg-inline-block my-4">
                        <div class="furniture__image-wrapper position-relative d-flex justify-content-center align-items-center">
                            <img
                                    src="./img/07_products/f3.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2 "
                                            id="item-052"
                                            data-src="./img/07_products/f3.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name=" Chair 3"
                                            data-stars="2"
                                            data-crossed="$35.00"
                                            data-price="$25.00"><span>Quick View</span>
                                    </button>
                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Chair 3</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="crossed-text py-1 px-2"><span>$35.00</span></div>
                                    <div class="furniture__price font-weight-bold  text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                        <span>$25.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item4 my-4">
                        <div class="furniture__image-wrapper d-flex position-relative justify-content-center align-items-center">
                            <img
                                    src="./img/07_products/f4.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2"
                                            id="item-053"
                                            data-src="./img/07_products/f4.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name="Chair 4"
                                            data-stars="2"
                                            data-price="$15.00"><span>Quick View</span>
                                    </button>
                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Chair 4</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="furniture__price font-weight-bold  text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                    <span>$15.00</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item5 d-none d-md-inline-block my-4">
                        <div class="furniture__image-wrapper d-flex position-relative justify-content-center align-items-center">
                            <img
                                    src="./img/07_products/f5.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2"
                                            id="item-054"     
                                            data-src="./img/07_products/f5.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name="Helena Rise Chair"
                                            data-stars="5"
                                            data-price="$15.00"><span>Quick View</span>
                                    </button>
                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Helena Rise Chair</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="furniture__price font-weight-bold  text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                    <span>$15.00</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item6 d-none d-lg-inline-block my-4">
                        <div class="furniture__image-wrapper d-flex justify-content-center position-relative align-items-center">
                            <img
                                    src="./img/07_products/f6.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2"
                                            id="item-055"
                                            data-src="./img/07_products/f6.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name="Chair 6"
                                            data-stars="2"
                                            data-crossed="$35.00"
                                            data-price="$25.00"><span>Quick View</span></button>
                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Chair 6</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="crossed-text py-1 px-2"><span>$35.00</span></div>
                                    <div class="furniture__price font-weight-bold  text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                        <span>$25.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item7 d-none d-lg-inline-block my-4">
                        <div class="furniture__image-wrapper  position-relative d-flex justify-content-center align-items-center">
                            <img src="./img/07_products/f7.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2"
                                            id="item-056"
                                            data-src="./img/07_products/f7.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name="Chair 7"
                                            data-stars="2"
                                            data-price="$15.00"><span>Quick View</span></button>
                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Chair 7</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="furniture__price font-weight-bold  text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                    <span>$15.00</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item8 d-none d-lg-inline-block my-4">
                        <div class="furniture__image-wrapper position-relative d-flex justify-content-center align-items-center">
                            <img src="./img/07_products/f8.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2"
                                            id="item-057"
                                            data-src="./img/07_products/f8.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name="Chair 8"
                                            data-stars="2"
                                            data-price="$15.00"><span>Quick View</span></button>
                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Chair 8</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="furniture__price font-weight-bold text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                    <span>$15.00</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="furniture__item9 d-none d-lg-inline-block my-4">
                        <div class="furniture__image-wrapper position-relative d-flex justify-content-center align-items-center">
                            <img src="./img/07_products/f9.png" alt="" class="img-fluid">
                            <div class="overlay position-absolute  flex-column justify-content-between align-items-center w-100 h-100">
                                <div class="overlay-top text-white text-center"><span>sale</span></div>
                                <div class="furniture__buttons d-flex justify-content-between w-100">
                                    <button type="button" class="furniture__view-item text-white py-1 px-2"
                                            id="item-058"
                                            data-src="./img/07_products/f9.png" data-toggle="modal"
                                            data-target="#quick-view-modal"
                                            data-name="Chair 9"
                                            data-stars="2"
                                            data-crossed="$35.00"
                                            data-price="$25.00"><span>Quick View</span></button>
                                    <button type="button"
                                            class="furniture__add-to-cart text-uppercase text-white py-1 px-2 font-weight-bolder">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add to cart</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="furniture__interact-item d-flex flex-column align-items-center justify-content-center">
                            <div class="furniture__name text-center p-2"><span>Chair 9</span></div>
                            <div class="furniture__item-rating text-center ">
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i></span>
                            </div>
                            <div class="furniture__line my-3 d-flex justify-content-center">
                                <div class="orange-line position-relative"></div>
                            </div>
                            <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                                <div class="furniture__item-options d-flex">
                                    <div class="furniture__like mr-2 py-1 px-2"><span><i
                                            class="far fa-heart"></i></span></div>
                                    <div class="furniture__exchange py-1 px-2"><span><i class="fas fa-exchange-alt"></i></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="crossed-text py-1 px-2"><span>$35.00</span></div>
                                    <div class="furniture__price font-weight-bold  text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                                        <span>$25.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapper d-flex justify-content-center w-100">
                        <button type="button" class="btn-load-more" data-toggle="collapse">
                            <img src="./img/07_products/more.png" alt=""></button>
                    </div>
                </div>

            </div>
            <div class="filter d-none d-lg-flex col-lg-3 flex-column">
                <div class="filter__heading"><span>Filter By categories</span></div>
                <div class="filter__categories d-flex flex-column">
                    <div class="filter__category d-flex justify-content-between"><span>> Furniture </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">3</span></div>
                    </div>
                    <div class="filter__category d-flex my-2 justify-content-between"><span>> Sofa </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">4</span></div>
                    </div>
                    <div class="filter__category d-flex  justify-content-between"><span>> Chair </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">5</span></div>
                    </div>
                    <div class="filter__category d-flex  my-2 justify-content-between"><span>> Table </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">5</span></div>
                    </div>
                    <div class="filter__category d-flex justify-content-between"><span>> Bedroom </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">5</span></div>
                    </div>
                </div>

                <div class="filter__heading"><span>Filter By price</span></div>

                <div id="slider-range" style="margin-left: 7px"></div>
                <p class="d-flex justify-content-between align-items-center">
                    <button class="button-filter"><span>Filter</span></button>
                    <!--                                        <label for="amount">Price range:</label>-->
                    <input type="text" id="amount" class="amount" readonly>
                </p>

                <div class="filter__heading"><span>Filter By color</span></div>

                <div class="filter__checkboxes">
                    <label class="container c-ch"><span class="checkbox-text">Red</span>
                        <input type="checkbox">
                        <span class="checkmark1 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Black</span>
                        <input type="checkbox">
                        <span class="checkmark2 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Yellow</span>
                        <input type="checkbox">
                        <span class="checkmark3 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Blue</span>
                        <input type="checkbox">
                        <span class="checkmark4 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Pink</span>
                        <input type="checkbox">
                        <span class="checkmark5 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Green</span>
                        <input type="checkbox">
                        <span class="checkmark6 checkmark"></span>
                    </label>
                </div>
                <div class="filter__heading"><span>Filter By size</span></div>
                <div class="filter__checkboxes-size ">
                    <div class=" d-flex flex-column justify-content-between align-items-center list-unstyled">
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                            <label for="styled-checkbox-1" class="ch-text"><span>S</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">3</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                            <label for="styled-checkbox-2" class="ch-text"><span>M</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">4</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1">
                            <label for="styled-checkbox-3" class="ch-text"><span>L</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">5</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value1">
                            <label for="styled-checkbox-4" class="ch-text"><span>XL</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">5</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value1">
                            <label for="styled-checkbox-5" class="ch-text"><span>XX</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">5</span></div>
                        </li>
                    </div>
                <div class="filter__heading"><span>Filter By tags</span></div>
                    <div class="filter__by-tags">
                        <div class="filter__tag d-inline-block my-2 mr-2 p-2"><i class="fas fa-tags mr-2"></i><span>Table</span></div>
                        <div class="filter__tag d-inline-block my-2  p-2"><i class="fas fa-tags mr-2"></i><span>Chair</span></div>
                        <div class="filter__tag d-inline-block my-2 mr-2 p-2"><i class="fas fa-tags mr-2"></i><span>Hand Bag</span></div>
                        <div class="filter__tag d-inline-block my-2  p-2"><i class="fas fa-tags mr-2"></i><span>Women</span></div>
                        <div class="filter__tag d-inline-block my-2 mr-2 p-2"><i class="fas fa-tags mr-2"></i><span>Fashion</span></div>
                        <div class="filter__tag d-inline-block my-2  p-2"><i class="fas fa-tags mr-2"></i><span>Clothes</span></div>

                    </div>

            </div>
        </div>
    </div>

    </div>
</section>


