<section data-name="blog">
<div id="carousel-example-2" class="carousel slide carousel-fade container" data-name="blog" data-ride="carousel">


    <div class="carousel-inner" role="listbox">
        <!--    <ARROWS-->
        <div class="container mt-4 position-relative">

            <div class="heading-wrapper position-absolute w-75 mt-4 ">
                <div class="section__heading position-absolute">latest blog</div>
                <div class="blog__heading__underline position-absolute  ">
                    <div class="colored-line"></div>
                </div>
            </div>
        </div>
        <div class="arrow-container d-flex align-items-center justify-content-end  mb-2 position-relative">

            <div class="arrow-left d-flex justify-content-center align-items-center d-sm-none carousel-control left "
                 data-slide="prev">
            </div>
            <div class="arrow-right ml-2 d-flex justify-content-center align-items-center d-sm-none carousel-control right"
                 data-slide="next">
            </div>
            <!--MY INDICATORS-->
            <ol class="carousel-indicators text-decoration-none text-secondary d-none d-md-inline-flex list-unstyled">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"><i class="fas fa-circle "></i>
                </li>
                <li data-target="#carousel-example-2" data-slide-to="1" class="mx-2"><i class="fas fa-circle"></i>
                </li>
                <li data-target="#carousel-example-2" data-slide-to="2"><i class="fas fa-circle"></i>
                </li>
                <li data-target="#carousel-example-2" data-slide-to="3" class="ml-2 d-none d-md-inline-block d-lg-none">
                    <i
                            class="fas fa-circle"></i>
                </li>
            </ol>
        </div>

        <div >


            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex flex-column align-items-center hov">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/1.png" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 d-none d-md-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/1.png" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-none d-lg-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/1.png" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-none d-md-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-none d-md-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/4.png" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-none d-md-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/4.png" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-flex flex-column align-items-center">
                        <div class="item-box-blog-image d-flex align-items-center justify-content-center bg-on-change1 ">
                            <img src="./img/09_blog/4.png" class="img-fluid" alt="">
                        </div>
                        <div class="item-box-blog-body text-left w-75 ">
                            <div class="item-box-blog-comments d-flex justify-content-between py-3">
                                <div><i class="fas fa-calendar-alt mr-1"></i>15 jan 2016</div>
                                <div><i class="fas fa-comments mr-1"></i>4 Comments</div>
                            </div>
                            <!--Heading-->
                            <div class="item-box-blog-heading news">
                                <h5 class="news">Products That Fight Static </h5>
                            </div>
                            <!--Data-->

                            <!--Text-->
                            <div class="item-box-blog-text">
                                <p>Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam
                                    euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                                    enim.</p>
                            </div>
                        </div>
                        <!--Read More Button-->
                        <div class="btn-wr-ui mt d-flex justify-content-center ">
                            <div tabindex="0" class="btn bg-blue-ui bg-on-change1 py-3 px-4 ">
                                read more
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex d-md-none blog-controls ">
                <a class="carousel-control-prev icon-prev" href="#carousel-example-2" role="button" data-slide="prev">
                    <!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                    <span> <i class="fas fa-chevron-left"></i> </span>
                </a>
                <a class="carousel-control-next icon-next" href="#carousel-example-2" role="button" data-slide="next">
                    <!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                    <span><i class="fas fa-chevron-right"></i></span>
                </a>
            </div>

        </div>

        <!--/.Slides-->
        <!--Controls-->

        <!--/.Controls-->
    </div>
</div>
</section>