<section class="copyright--bg">
    <div class="container p-4" >
        <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class=" col-sm-12 copyright__text--align col-md-6 col-lg-4 text-nowrap text-secondary">©Copyright 2016 Bazar | All Rights Reserved</div>
            <div class=" col-sm-12 copyright__icons--align col-md-6  col-lg-4 text-secondary ">
                <i class="fab fa-twitter p-1"></i>
                <i class="fab fa-facebook-f p-1"></i>
                <i class="fab fa-youtube p-1"></i>
                <i class="fab fa-google-plus-g p-1"></i>
                <i class="fab fa-linkedin-in p-1"></i>
                <i class="fab fa-pinterest-p p-1"></i>
            </div>
        </div>
    </div>
</section>