<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content--custom">
            <div class="modal-btn-wrapper">
                <button type="button" class="close modal__btn--close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-header modal-header--border-none modal__element--padding">
                <h5 class="modal-title modal-title--font">Login</h5>
            </div>
            <div class="modal-body modal__element--padding">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" 
                        placeholder="Name/Email&#42;" required
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password&#42;" required>
                    </div>
                    <button type="submit" class="btn modal__btn-sbm">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content--custom">
            <div class="modal-btn-wrapper">
                <button type="button" class="close modal__btn--close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-header modal-header--border-none modal__element--padding">
                <h5 class="modal-title modal-title--font">Registration</h5>
            </div>
            <div class="modal-body modal__element--padding">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name&#42;"
                               aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email&#42;"
                               aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password&#42;" required>
                    </div>
                    <button type="submit" class="btn modal__btn-sbm">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-custom" role="document">
        <div class="modal-content modal-content--custom">
            <div class="modal-btn-wrapper modal-cart-btn-wrapper">
                <button type="button" class="close modal__btn--close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body modal-body-custom">
                <div class="modal-cart">
                    <!-- <div class="modal-cart-info">
                        <div class="modal-cart-info-img">
                            <img src="img/08_gallery/10.png">
                        </div>
                        <h4 class="modal-cart-info-title">Fairfield Love Chair</h4>
                        <p class="modal-cart-info-old-price">$300.00</p>
                        <p class="modal-cart-info-price">$240.00</p>
                        <div class="modal-cart-info-sum">
                            <p class="modal-cart-info-sum-text">Sum</p>
                            <p class="modal-cart-info-sum-cash">$240.00</p>
                        </div>
                        <div class="modal-cart-info-quantity">
                            <p class="modal-cart-info-quantity-text">Quantity:</p>
                            <p class="modal-cart-info-quantity-amount">2</p>
                            <button class="modal-cart-info-quantity-btn">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button class="modal-cart-info-quantity-btn">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div> -->
                    <div class="modal-cart-help-div">
                        <p class="modal-cart-total-price">Total: $1000</p>
                        <div class="modal-cart-btns">
                            <button type="submit" class="btn modal-cart-btn">
                                <i class="fas fa-angle-right"></i> Continue
                            </button>
                            <button type="submit" class="btn modal-cart-btn">
                                <i class="fas fa-shopping-basket"></i> Buy now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-cart-empty">
                    <p class="modal-cart-empty-text1">
                        Your cart is empty
                    </p>
                    <p class="modal-cart-empty-text2">
                        But it's never too late to fix it :)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal quick-view : -->
<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content d-flex flex-column align-items-center position-relative">
            <button type="button" class="close position-absolute " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="w-75  ">

                <div class="d-flex flex-column justify-content-center align-items-center container">
                    <div class="furniture__image-wrapper  mt-4 d-flex  flex-column justify-content-start position-relative align-items-center">
                        <div><img src="" alt="" class="qw-modal__img img-fluid"></div>
                    </div>
                </div>
                <div class="qw-modal__interact  d-flex flex-column align-items-start justify-content-center">
                    <div class="my-2 "><span class="qw-modal__name font-weight-bold text-left py-2"></span></div>
                    <div class="qw-modal__item-rating text-center ">
                                <span><i class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i><i class="far fa-star"></i><i
                                        class="far fa-star"></i><span>(0 reviews)</span> </span>
                    </div>
                    <div class="qw-modal__line my-4 w-100"></div>

                    <div class="d-flex justify-content-start w-100">
                        <div class="toAddCrossed"></div>
                        <div class="qw-modal__price font-weight-bold mb-4 text-white d-flex justify-content-between align-items-center py-1 px-2 ">
                            <span></span></div>
                    </div>
                    <div class="furniture__item-options-wrapper d-flex justify-content-between mb-2 ">
                        <div class="furniture__item-options d-flex">
                            <button type="button"
                                    class="qw-modal__add-to-cart text-white py-1 px-2 mr-2 d-flex justify-content-center align-items-center text-uppercase font-weight-bold">
                                <i class="fas fa-shopping-basket"></i><span>add to cart</span></button>
                            <button type="button" class="furniture__like mr-2 py-1 px-2"><span><i
                                    class="far fa-heart"></i></span></button>

                        </div>
                    </div>

                    <div class="qw-modal__line my-4 w-100"></div>

                    <div class="qw-modal__overview">
                        <div class="qw-modal__title-overview mb-2">
                            <span class="font-weight-bold">Quick Overview</span>
                        </div>
                        <div class="qw-modal__text-overview"><p>Nam tristique porta ligula, vel viverra sem eleifend
                            nec. Nulla sed purus augue, eu euis mod tellus. Nam mattis eros tis sagittis. Vestibulum
                            suscipit cursus biben.</p></div>

                        <div class="qw-modal-availability d-flex">
                            <div><span class="font-weight-bolder mr-2">Availability:</span><span>in stock</span></div>
                            <span class="font-weight-bolder ml-3 mr-2">Category:  </span><span>furniture</span></div>
                    </div>
                </div>

                <div class="qw-modal__line my-4 w-100"></div>

                <div class="qw-modal__sn w-100 d-flex justify-content-center flex-column align-items-center mb-4">
                    <div class="qw-modal__button d-flex justify-content-center w-100">
                        <button type="button"
                                class="bg-primary qw-modal__button py-1 px-2 mr-2 d-flex justify-content-center align-items-center text-white">
                            <i class="fab fa-facebook-f mr-2"></i>
                            <span>Share</span></button>
                        <button type="button"
                                class=" qw-modal__button2 py-1 px-2 mr-2 d-flex justify-content-center align-items-center">
                            <i class="fab fa-google-plus-g mr-2"></i><span>Google+</span></button>
                        <button type="button"
                                class=" qw-modal__button2 py-1 px-2 mr-2 d-flex justify-content-center align-items-center">
                            <i class="fab fa-twitter mr-2"></i><span>Tweet</span></button>
                    </div>
                    <div class="qw-modal__button d-flex justify-content-center w-100 mt-4">
                        <button type="button"
                                class=" qw-modal__button2 py-1 px-2 mr-2 d-flex justify-content-center align-items-center">
                            <i class="fab fa-pinterest-p mr-2"></i><span>Pinterest</span></button>
                        <button type="button"
                                class=" qw-modal__button2 py-1 px-2 mr-2 d-flex justify-content-center align-items-center">
                            <i class="fab fa-linkedin-in mr-2"></i></i><span>Linkedin</span></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content d-flex justify-content-center align-items-center ">
            <button type="button" class="close position-absolute filter-modal__close-mix " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="filter d-none d-flex col-lg-3 flex-column w-75 my-4">
                <div class="filter__heading"><span>Filter By categories</span></div>
                <div class="filter__categories d-flex flex-column">
                    <div class="filter__category d-flex justify-content-between"><span>> Furniture </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">3</span></div>
                    </div>
                    <div class="filter__category d-flex my-2 justify-content-between"><span>> Sofa </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">4</span></div>
                    </div>
                    <div class="filter__category d-flex  justify-content-between"><span>> Chair </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">5</span></div>
                    </div>
                    <div class="filter__category d-flex  my-2 justify-content-between"><span>> Table </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">5</span></div>
                    </div>
                    <div class="filter__category d-flex justify-content-between"><span>> Bedroom </span>
                        <div class="filter__circle position-relative"><span
                                class="position-absolute filter__index">5</span></div>
                    </div>
                </div>

                <div class="filter__heading"><span>Filter By price</span></div>

                <div id="slider-range1" style="margin-left: 7px;"></div>
                <p class="d-flex justify-content-between align-items-center">
                    <button class="button-filter"><span>Filter</span></button>
                    <!--                                        <label for="amount">Price range:</label>-->
                    <input type="text" id="amount1" class="amount" readonly>
                </p>

                <div class="filter__heading"><span>Filter By color</span></div>

                <div class="filter__checkboxes">
                    <label class="container c-ch"><span class="checkbox-text">Red</span>
                        <input type="checkbox">
                        <span class="checkmark1 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Black</span>
                        <input type="checkbox">
                        <span class="checkmark2 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Yellow</span>
                        <input type="checkbox">
                        <span class="checkmark3 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Blue</span>
                        <input type="checkbox">
                        <span class="checkmark4 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Pink</span>
                        <input type="checkbox">
                        <span class="checkmark5 checkmark"></span>
                    </label>
                    <label class="container c-ch"><span class="checkbox-text">Green</span>
                        <input type="checkbox">
                        <span class="checkmark6 checkmark"></span>
                    </label>
                </div>
                <div class="filter__heading"><span>Filter By size</span></div>
                <div class="filter__checkboxes-size ">
                    <div class=" d-flex flex-column justify-content-between align-items-center list-unstyled">
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-1m" type="checkbox" value="value1">
                            <label for="styled-checkbox-1m" class="ch-text"><span>S</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">3</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-2m" type="checkbox" value="value1">
                            <label for="styled-checkbox-2m" class="ch-text"><span>M</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">4</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-3m" type="checkbox" value="value1">
                            <label for="styled-checkbox-3m" class="ch-text"><span>L</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">5</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-4m" type="checkbox" value="value1">
                            <label for="styled-checkbox-4m" class="ch-text"><span>XL</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">5</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center w-100">
                            <input class="styled-checkbox" id="styled-checkbox-5m" type="checkbox" value="value1">
                            <label for="styled-checkbox-5m" class="ch-text"><span>XX</span></label>
                            <div class="filter__circle circle-mix position-relative"><span
                                    class="position-absolute filter__index">5</span></div>
                        </li>
                    </div>
                    <div class="filter__heading"><span>Filter By tags</span></div>
                    <div class="filter__by-tags">
                        <div class="filter__tag d-inline-block my-2 mr-2 p-2"><i class="fas fa-tags mr-2"></i><span>Table</span>
                        </div>
                        <div class="filter__tag d-inline-block my-2  p-2"><i
                                class="fas fa-tags mr-2"></i><span>Chair</span></div>
                        <div class="filter__tag d-inline-block my-2 mr-2 p-2"><i class="fas fa-tags mr-2"></i><span>Hand Bag</span>
                        </div>
                        <div class="filter__tag d-inline-block my-2  p-2"><i
                                class="fas fa-tags mr-2"></i><span>Women</span></div>
                        <div class="filter__tag d-inline-block my-2 mr-2 p-2"><i class="fas fa-tags mr-2"></i><span>Fashion</span>
                        </div>
                        <div class="filter__tag d-inline-block my-2  p-2"><i
                                class="fas fa-tags mr-2"></i><span>Clothes</span></div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>