@media (min-width: 768px)
    .feature-col-custom
        &:nth-child(odd)
            padding-right: 0px
            padding-left: 88px

        &:nth-child(2n)
            padding-right: 0px
            padding-left: 14px

    .feature-wrapper
            margin: 0 0 25px 0

@media (min-width: 992px)
    .feature-col-custom
        &:nth-child(odd)
            padding-right: 16px
            padding-left: 16px

        &:nth-child(2n)
            padding-right: 16px
            padding-left: 16px

    .feature-wrapper
            margin: 0 auto 25px auto