.our-features
    padding: 45px 0px 65px 0px
    
.feature
    
    &-wrapper
        position: relative
        width: 256px
        margin: 0 auto 25px auto
        padding-top: 40px
        cursor: pointer

    &-icon-wrapper
        position: absolute
        top: 0px
        left: 88px
        width: 82px
        height: 82px
        margin: 0 auto
        border: 1px solid #c7c7c7
        border-radius: 50%
        background-color: #fff

    &-icon
        width: 70px
        height: 70px
        margin: 5px
        border: 1px solid #c7c7c7
        border-radius: 50%
        background-color: #fff

        &-awesome
            padding: 23px 21px
            font-size: 22px
            color: $text-color

    &-info
        height: 120px
        padding-top: 55px
        border: 1px solid #c7c7c7

        &-title
            margin-bottom: 14px
            font-size: 16px
            font-weight: 600
            color: $text-color
            text-align: center
            text-transform: uppercase

        &-desc
            font-size: 16px
            color: $text-color
            text-align: center
            text-transform: uppercase

.feature-wrapper:hover .feature-icon-wrapper
    border-color: $main-color

.feature-wrapper:hover .feature-icon
    color: #fff
    border-color: $main-color
    background-color: $main-color

.feature-wrapper:hover .feature-icon-awesome
    color: #fff

.feature-wrapper:hover .feature-info-title
    color: #e0a38e

.feature-wrapper:hover .feature-info-desc
    color: #e0a38e