.heading-wrapper
  left: 0

.section__heading
  color: #d58e32
  font-family: "Poppins - Semi Bold",sans-serif
  font-size: 20px
  font-weight: 700
  text-transform: uppercase
  left: 0
  bottom: 10px
.blog__heading__underline
  height: 3px
  background: #eaeaea
  bottom: 4px
  width: 75%
  @media (min-width: 422px)
    width: 100%
.colored-line
  height: 3px
  background: #d58e32
  width: 50px

.arrow-container
  position: relative

.arrow-right, .arrow-left
  display: inline-block
  height: 50px
  width: 50px

.mt
  float: left
  margin-top: -20px
  padding-top: 20px


.bg-blue-ui
  background: #2a2a2a
  color: white
  margin-top: -20px

.bg-blue-ui:hover
  color: white

.item-box-blog-comments
  font-family: "Poppins - Semi Bold",sans-serif
  color: #2a2a2a

.fa-chevron-left, .fa-chevron-right
  position: relative
  bottom : 1px

.fa-circle:hover
  //background: #d58e32
  color: #d58e32
.item-box-blog-body
  position: relative
  bottom: 44px
  background: white

.item-box-blog-image:hover + .item-box-blog-body .item-box-blog-heading
  color: #d58e32

.item-box-blog-image:hover + .item-box-blog-body + .btn-wr-ui  .btn
  background: #d58e32
  color: white

.blog .carousel-indicators
  left: 0
  top: -50px
  height: 50%

.carousel-indicators
  position: relative
  left: 15%
  top: 8px

.carousel-indicators .active
  background: #d58e32!important
  opacity: 1

.carousel-indicators li
  width: 20px
  height: 0
  border-radius: 100%
  background: #708198


.item-box-blog
  border: 1px solid #dadada
  text-align: center
  z-index: 4
  padding: 20px

.item-box-blog-image
  position: relative
  width: 100%

.item-box-blog-image1
  position: relative

.item-box-blog-image figure img
  width: 100%
  height: auto

.news
  font-family: "Poppins - Semi Bold",sans-serif
  white-space: nowrap

.item-box-blog-text
  font-family: "Poppins - Semi Bold",sans-serif

.item-box-blog-date span
  color: #fff
  display: block
  text-align: center
  line-height: 1.2


.item-box-blog-date span.mon
  font-size: 18px

.item-box-blog-date span.day
  font-size: 16px

.item-box-blog-body
  padding: 10px

.item-box-blog-heading a
  text-decoration: none

.item-box-blog-data p
  font-size: 13px

.item-box-blog-data p i
  font-size: 12px

.item-box-blog-text
  max-height: 100px
  overflow: hidden

.mt-10
  float: left
  margin-top: -10px
  padding-top: 10px

.blog-controls
  position: relative
  bottom: 55px
  height: 100px
  @media  (min-width: 576px) and (max-width: 768px)
    margin-top: 60px


.blog-controls .carousel-control-prev
  bottom: 80%
  left: 83.8%
  @media (max-width: 490px)
    left: 84%
  @media (max-width: 420px)
    left: 80%
  @media (max-width: 380px)
    left: 77%
  @media (max-width: 320px)
    left: 75%

.icon-prev:hover
  background: #d58e32
  color: white!important
  width: 30px
  height: 30px
  z-index: 99
  border: none

.icon-next:hover
  background: #d58e32
  color: white!important
  width: 30px
  height: 30px

  z-index: 99
  border: none

.icon-prev
  border: 1px solid black
  width: 30px
  height: 30px
  opacity: 1
  color: black

.icon-next
  border: 1px solid black
  width: 30px
  height: 30px
  opacity: 1
  color: black

