@media (min-width: 1200px)

    .top-menu-items

        &__btn
            display: none

        &-list
            position: static
            display: inline-block
            margin: 0px

        &__item
            display: inline-block
            width: auto
            padding: 0px
            background-color: #fff

            &:hover
                background-color: $main-color

            &-link
                padding: 40px 20px
                color: #2a2a2a

                &:hover
                    border-top: 4px solid #2a2a2a
                    border-bottom: 1px solid transparent
                    padding-top: 36px

    .top-menu__input-wrapper
        margin: 27px 0px 0px 0px