.top-menu
    padding: 0 16px
    box-shadow: 0px 8px 4px 0px #ddd

    &__input-wrapper
        position: relative
        margin: 20px 0
        
    &__input
        width: 225px
        height: 45px
        padding: 10px
        border: 1px solid #000
      
.icon-search 
    position: absolute
    right: 10px
    top: 14px
    color: #000

.top-menu-items
    position: relative

    &__btn.active
        background-color: #343a40   

    &__btn
        display: inline-block
        width: 155px
        padding: 35px 13px 27px 116px
        box-sizing: border-box
        border: 0px

        &--span1, &--span2, &--span3
            display: block
            width: 30px
            height: 3px
            margin: 2px 0
            background-color: #000
            transition: 0.4s 
        
        &.active &--span1
            transform: rotate(45deg) translate(5px, 4px)
            background-color: #fff

        &.active &--span2
            opacity: 0

        &.active &--span3
            transform: rotate(-45deg) translate(3px, -2px)
            background-color: #fff

        &.active + .top-menu-items-list
            display: block

.top-menu-items-list
    position: absolute
    top: 79px
    right: 0px
    display: none
    font-size: 12px
    font-family: 'Poppins', sans-serif
    color: #444
    background-color: #fff
    z-index: 5

.top-menu-items__item
    display: block
    width: 155px
    padding: 15px 10px 0px 50px
    box-sizing: border-box
    font-size: 14px
    text-align: right
    background-color: #343a40

    &-link
        display: block
        padding-bottom: 15px
        border-bottom: 1px solid transparent
        text-transform: uppercase
        color: #8d8d8d
        
        
    &-link:hover
        border-bottom: 1px solid #8d8d8d
        color: #fff
        text-decoration: none