.header--custom
    padding: 40px 16px 55px 16px
    font-family: 'Poppins', sans-serif
    color: #d8d8d8
    
.header-phone
    margin-bottom: 0px
    font-weight: 700
    cursor: pointer

.header-cart
    position: relative
    width: 62px
    height: 45px
    cursor: pointer

.header-cart--bg
    display: inline-block
    width: 50px
    padding: 8px 0px 7px 10px
    border-radius: 3px
    font-size: 20px
    background-color: $main-color

.header-cart__amount
    position: absolute
    top: 11px
    right: 6px
    display: inline-block
    margin-right: -8px
    padding: 3px 8px
    border-radius: 50%
    font-size: 12px