.modal-content--custom
	margin: 0 28px
	border-radius: 0px

.modal__btn--close
	width: 40px
	opacity: 1
	padding: 13px !important
	font-size: 13px
	color: #fff
	background-color: $text-color !important

.modal__btn--close:hover
	color: #fff !important
	background-color: $main-color !important

.modal__btn--close:hover .fas
	color: #fff !important
	
.modal__btn-sbm
	width: 115px
	font-size: 13px
	font-weight: 700
	color: #fff
	text-transform: uppercase
	background-color: $text-color !important

.modal-title--font
	font-family: 'Poppins', sans-serif
	font-size: 30px
	font-weight: 600
	text-transform: uppercase
	line-height: 1

.modal-header--border-none
	border: none

.modal__element--padding
	padding: 0 40px 32px 40px

.modal-btn-wrapper
	margin-bottom: 30px

.modal-cart-btn-wrapper
	margin-bottom: 0px

.modal-cart-info
	display: grid
	grid-template-columns: 200px 125px
	grid-template-rows: repeat(5, auto)
	grid-template-areas: "img title" "img old-price" "img price" "quantity sum" "quantity sum"
	margin: 0px 14px 30px 0px
	padding: 15px 15px 15px 20px
	border: 1px solid #aaaaaa	
	border-radius: 2px

	&-img
		grid-area: img
		width: 220px
		text-align: center

		& img
			height: 155px

	&-title
		grid-area: title
		margin-bottom: 0px
		font-family: 'Poppins'
		font-size: 22px
		font-weight: 700
		line-height: 1.5

	&-old-price
		grid-area: old-price
		margin-bottom: 0px
		font-family: 'Poppins'
		font-size: 20px
		color: #aaaaaa
		text-decoration: line-through

	&-price
		grid-area: price
		margin-bottom: 0px
		margin-right: 18px
		padding: 16px 10px 4px 10px
		font-family: 'Poppins'
		font-size: 22px
		font-weight: 700
		line-height: .75
		color: #fff
		background-color: $text-color

	&-sum
		grid-area: sum

		&-text
			margin: 30px 0px 0px 0px
			padding-right: 32px
			font-family: 'Poppins'
			font-size: 20px
			text-align: right
			color: #aaaaaa

		&-cash
			font-size: 22px
			font-weight: 700
			text-align: right

	&-quantity
		grid-area: quantity
		margin-top: 30px

		&-text
			line-height: 1
			margin-bottom: 14px
			font-size: 14px
			font-weight: 700

		&-amount
			display: inline-block
			margin-bottom: 0px
			padding: 12.25px 35px
			border: 1px solid #000
			font-size: 14px
			font-weight: 700
			line-height: 1

		&-btn
			margin-left: 10px
			padding: 12px 13px
			border: 1px solid #000
			font-size: 14px
			font-weight: 700
			line-height: 1
			background-color: #fff

		&-btn:hover
			color: $main-color	
			border-color: $main-color	

.modal-cart-help-div
	display: none

.modal-cart
	
	&-total-price
		margin: 15px 20px 15px 0px
		font-family: 'Poppins'
		font-size: 22px
		text-align: right

	&-btns
		display: flex
		justify-content: space-between
		margin-bottom: 15px

	&-btn
		width: 135px
		font-size: 13px
		font-weight: 700
		color: #fff
		text-transform: uppercase
		background-color: #939393

		& i
			margin-right: 6px

	&-btn:hover
		color: #fff
		background-color: $main-color

.modal-cart-empty
	padding: 0px 70px

	&.hide-cart
		display: none

	&-text1
		font-family: 'Poppins'
		font-size: 48px
		font-weight: 700
		text-align: center
		color: #939393

	&-text2
		font-family: 'Poppins'
		font-size: 30px
		text-align: center
		color: #939393

@media (min-width: 768px)

	.modal-dialog-custom
		max-width: 750px
	
	.modal-body-custom
		padding: 16px 40px

	.modal-cart-info
		grid-template-columns: 210px 90px 210px 85px
		grid-template-rows: repeat(3, auto)
		grid-template-areas: "img title title ." "img old-price price ." "img quantity quantity sum"
		margin-right: 0px
		border-radius: 5px

		&-img

			& img
				height: 175px

		&-old-price
			padding-top: 8px
			line-height: 1

		&-price
			margin: 0px 104px 30px 0px
			padding: 10px

		&-sum

			&-text
				margin: 0px 0px 2px 0px
				padding-right: 25px

		&-quantity
			margin-top: 24px

			&-text
				display: inline-block
				margin-right: 25px


@media (min-width: 1200px)

	.modal-dialog-custom
		max-width: 1150px
	
	.modal-cart-info
		grid-template-columns: 220px 90px 190px 350px 120px
		grid-template-rows: repeat(3, auto)
		grid-template-areas: "img title title title ." "img old-price price quantity sum" "img . . . ."
		margin-right: 25px
		border-radius: 5px

		&-img

			& img
				height: 210px

		&-title
			padding: 8px 0px

		&-old-price
			padding-top: 36px
			line-height: 1

		&-price
			margin: 27px 84px 17px 0px

		&-sum
			margin-top: 4px

			&-text
				margin: 0px 0px 2px 0px
				padding-right: 25px
				line-height: 1

		&-quantity

			&-text
				display: inline-block
				margin-right: 25px

	.modal-cart

		&-total-price
			margin-right: 47px

		&-btns
			padding: 0px 36px 0px 10px

//	quick view modal classes:
.qw-modal__img
	max-width: 230px
	max-height: 200px
.qw-modal__name
	font-size: 24px
	color: #2a2a2a
	font-family: "Poppins - Semi Bold",sans-serif
.qw-modal__line
	width: 348px
	height: 1px
	background: #b8b8b8

.qw-modal__crossed-price
	text-decoration: line-through
	padding: 5px 10px
	margin-right: 5px
.qw-modal__price
	font-family: "Poppins - Semi Bold", sans-serif
	font-size: 18px
	background: #2a2a2a

.qw-modal__add-to-cart
	font-size: 13px
	background: $main-color
	font-family: "Poppins - Semi Bold", sans-serif
	border: none

.qw-modal__text-overview
	color: #676767
	font-family: Poppins,sans-serif
	font-size: 14px
	line-height: 25px

.qw-modal-availability
	color: #676767
	font-family: Poppins,sans-serif

.qw-modal__button
	border: none
	outline: none
	font-family: Poppins,sans-serif
	font-size: 13px


.qw-modal__button2
	border: 1px solid #676767
	background: white
	color: #676767
	font-family: Poppins,sans-serif

.qw-modal__button2 .fa-google-plus-g
	color: #d62d20

.qw-modal__button2 .fa-twitter
	color: #4099ff

.qw-modal__button2 .fa-pinterest-p
	color: #c92228

.qw-modal__button2 .fa-linkedin-in
	color: #0077b5

.close
	top: 20px
	right: 0
	color: #ffffff
	background: black!important
	padding: 10px 15px!important
	opacity: 1!important
	outline: none!important

.close:hover
	color: $main-color!important
