.footer__title--font
    font-family: "Poppins - Semi Bold",sans-serif
    font-size: 22px
    font-weight: 400

.footer__item--font
    font-family: Poppins,sans-serif
    font-size: 14px

.footer__title--pos
    bottom: 8px

.cards--pos
    @media (min-width: 1200px)
        left: 50px