.gallery
    margin-top: 75px
    font-family: 'Poppins', sans-serif
    margin-bottom: 65px

    &-banner
        display: none

    &-title
        max-width: 555px
        position: relative
        margin: 0 auto 30px auto
        padding-bottom: 15px
        border-bottom: 4px solid #ddd
        line-height: 1
        font-size: 16px
        font-weight: 600
        color: $main-color
        text-transform: uppercase

        &::after
            content: ''
            position: absolute
            bottom: -4px
            left: 0px
            width: 45px
            height: 4px
            background-color: $main-color

    &-tabs
        max-width: 555px
        height: 532px
        display: flex
        flex-direction: column
        justify-content: start
        margin: 0 auto

        &-content
            border: 1px solid #e9e9e9
            border-top-color: #f4f5f7

        &-list
            display: grid
            grid-template-columns: repeat(4, 1fr)
            width: 100%
            list-style: none
            padding-left: 0px
            margin-bottom: 0px

        &-title
            padding: 13px 0px
            border: 1px solid #e9e9e9
            font-size: 15px
            text-align: center
            cursor: pointer

        &-title.active
            padding-top: 10px
            border-top: 4px solid $main-color
            border-bottom-color: transparent
            color: $main-color
            background-color: #f4f5f7

    &-tab.active
        display: flex
        justify-content: space-between

    &-tab
        display: none
        width: 78%
        font-size: 0px

        &-help-wrapper
            display: flex
            justify-content: space-between
            margin-bottom: 10px
            padding-left: 15px
            border: 1px solid #e9e9e9
            border-top-color: #f4f5f7
            background-color: #f4f5f7

        &-icons
            display: flex
            flex-direction: column
            justify-content: center
            font-size: 16px

        &-icon
            width: 40px
            margin-bottom: 10px
            border: 1px solid $text-color
            padding: 11px 0
            line-height: 1
            text-align: center

            &:hover
                border-color: $main-color
                color: $main-color

        &-info
            text-align: center

        &-big-img
            display: inline-block
            height: 300px

        &-text-wrapper
            position: relative
            bottom: 23px
            display: inline-block
            width: 250px
            height: 110px
            box-shadow: 2px 1px 5px 1px rgba(0,0,0,.5)
            padding-top: 35px
            line-height: 1
            font-size: 14px
            text-align: center
            background-color: #fff

            &::before
                content: ''
                position: absolute
                top: 0px
                left: 0px
                width: 0
                height: 0
                border-style: solid
                border-width: 30px 30px 0 0
                border-color: #000 transparent transparent transparent

            &::after
                content: ''
                position: absolute
                right: 0px
                bottom: 0px
                width: 0
                height: 0
                border-style: solid
                border-width: 0 0 30px 30px
                border-color: transparent transparent #000 transparent

        &-text-title
            margin-bottom: 20px
            line-height: 1
            font-size: 16px
            font-weight: 600

        &-price
            position: absolute
            top: 0px
            left: -76px
            width: 110px
            height: 110px
            opacity: .6
            border-radius: 50%
            padding: 48px 0
            color: #fff
            background-color: #7b7b7c

        &-text-price
            opacity: 1
            font-size: 20px
            font-weight: 700

        &-text-old-price
            opacity: 1
            font-size: 16px
            text-decoration: line-through

        &-img-wrapper
            width: 71px
            height: 71px
            margin-right: .4vw
            opacity: .75
            overflow: hidden
            border: 1px solid #e9e9e9
            text-align: center
            background-color: #f4f5f7
            
            &.focus
                opacity: 1

        &-img
            height: 71px

        &-slider 
            display: flex
            width: 100%
            margin: 0 auto 10px auto
            justify-content: space-around
            align-items: center

            &-btn
                width: 35px
                height: 72px
                border: 1px solid #e9e9e9
                font-size: 16px
                color: #a2a2a1
                background: $text-color

                &:hover 
                    color: #da9f8a